{:secrets #include ".secrets.edn"
 :jira-url #or [#env JIRA_URL ^:ref [:secrets :jira :url]]
 :jira-user #or [#env JIRA_USERNAME ^:ref [:secrets :jira :username]]
 :jira-pass #or [#env JIRA_PASSWORD ^:ref [:secrets :jira :password]]}
